body {
font-family: 'Tajawal', sans-serif;
}

#top-logo {
    height : 50px;
    width : auto;
}
.top-nav-img {
    height: 50px;
    width: auto;
}

.top-nav-link a{
    color : #f0c933;
}

.nav-link a:hover {
    color : #f0c933;
}
.top-nav {
    background-color: #2bb1b1;
    color : #f0c933;
}
#top-logo:hover {
    opacity:50%;
}

.jumbo {
    height: 100vh;
    background-image: url('../img/usage/world-map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0c933;
    /* background-color: #2bb1b1;  */
    background-blend-mode: soft-light;
}

#logo-jumbo {
    height : 250px;
    width : auto;
}

.jumbo-img-1 {
    height: 200px;
    width: auto;
}

.jumbo-img-2 {
    height: 150px;
    width: auto;
}

.ft-links {
    /* color : white; */
}
.ft-links a{
    text-decoration: none;
    color: #888;
    font-size: 1.5rem;
}

.ft-links a:hover {
    color: #2bb1b1;
}

.ft-social {
    font-size : 1.5rem;
    color :#888;
    padding : 5px;
}
.footer-title {
    color : #2bb1b1;
    font-weight : 400;
}

.news-img {
    height :140px;
    width : auto;
}
.feature-1 {
    background-color: #000332;
    color : #2bb1b1;
    font-weight : 300;
}

.feature-1 > .featurette > .lead {
    
    font-size : 20px;
    font-weight : 600;
}
.feature-2 {
    background-color: #2bb1b1;
    /* background-color: #2b92c1; */
    color : #ffffff;
    font-weight : 300;
}

.feature-3 {
    /* background-color: #f0c933; original color*/
    background-color: #929fa4;
    font-weight : 300;
}

.ft-1 {
    color : #ffea92;
}

.ft-2 {
    color : #000332;
}

.ft-3 {
    /* color : #2b92c1; old color*/
    color : #ffffff;
}

.img-ft-1 {
    height : 499px;
    width: auto;
}

.footer {
    background-color: #000332;
}



.footer-logo {
    height : 100px;
}
.copy-solargy {
    width: 100%;
    background-color: #000000;
    color: #2bb1b1;
    float: right;
}




/* About page */

.abt-solargy {
    font-size: x-large;
    color : #2bb1b1;
}

.ft-1-abt {
    color : white;
}

.ft-2-abt {
    color : #ffea92;
}

.ft-3-abt {
    color : #fff;
}

.feature-3-abt {
    background-color: #f0c933;
}
